<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>

		<StandardDirectory Id="ProgramMenuFolder">
			<Directory Id="ProductStartMenuShortcutFolder" Name="!(bind.Property.ProductName)"></Directory>
		</StandardDirectory>

		<StandardDirectory Id="ProgramFiles6432Folder">
			<Directory Id="INSTALLFOLDER" Name="!(bind.Property.ProductName)" />
		</StandardDirectory>
	</Fragment>
</Wix>
